body {
    width: 100vw;
    height: 100vh;
    background-image: url("img/background_img.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}

.wrapper {
    max-width: 1028px;
}

.header {
    height: 61px;
    padding-top: 46px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}

.logo_wrapper {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
}

.logo_img {
    width: 53px;
    height: 47px;
    fill: currentColor;
}

.logo_text2 {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    padding-top: 5px;
}

.logo:hover {
    color: #F26522;
}

.feedback {
    display: flex;
    height: 61px;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
}

.mail a, .tel a {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.mail a:hover, .tel a:hover {
    color: #F26522;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 309px);
    grid-template-rows: 261px;
    grid-gap: 37px 54px;
    text-align: center;
    width: 1030px;
    height: 560px;
}

.items_text {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.main_blocks {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main_blocks:hover .items_text {
    color: #F26522;
}

.item1_bg, .item2_bg, .item3_bg, .item4_bg, .item5_bg, .item6_bg {
    display: block;
    position: relative;
    width: 300px;
    height: 220px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    border: 3px ridge;
    border-image: linear-gradient(to bottom left, black, white);
    border-image-slice: 1;
}

.item1_bg {
    background-image: url("img/image1.png");
}

.item2_bg {
    background-image: url("img/image2.png");
}

.item3_bg {
    background-image: url("img/image3.png");
}

.item4_bg {
    background-image: url("img/image4.png");
}

.item5_bg {
    background-image: url("img/image5.png");
}

.item6_bg {
    background-image: url("img/image6.png");
}

.items_bg_hover {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -57px;
    background-color: #F26522;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    padding-top: 7px;
    padding-left: 16px;
    padding-bottom: 12px;
    text-align: start;
    transition: 1s;
}

.main_blocks:hover .items_bg_hover {
    bottom: 0;
}

.items_bg_hover_text {
    font-size: 10px;
    line-height: 10px;
    padding-bottom: 8px;
}

.items_bg_hover_price {
    font-size: 20px;
    line-height: 20px;
}

.items_bg_hover_details {
    padding-left: 128px;
    font-size: 14px;
    line-height: 14px;
}

.items_bg_hover_details::after {
    content: '';
    position: relative;
    top: -2px;
    display: inline-block;
    border-right: 1px solid white;
    border-top: 1px solid white;
    transform: rotate(45deg);
    width: 7.5px;
    height: 7.5px;
    margin-left: 16px;
}

.footer {
    margin-top: 48px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    text-align: center;
}
